<mat-toolbar>
    <button mat-icon-button class="example-icon logoIcon" aria-label="Examify logo"   >
        <i class="material-icons logo">school</i>
    </button>
    <span class = "logoName"><span class="firstLetter">E</span>xamify</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon userNameButton" aria-label="Example icon-button with heart icon"  (click)="login()">
      <i class="material-icons userNameIcon">account_circle</i>
      <span class="userNameText">User Name</span>
    </button>
    
    <button mat-icon-button class="example-icon loginButton" aria-label="Example icon-button with heart icon">
        <i class="material-icons loginIcon">login</i>
        <span class="loginText">Login</span>
    </button>

    <button mat-icon-button class="example-icon signUpButton" aria-label="Example icon-button with heart icon">
        <i class="material-icons signUpIcon">group_add</i>
        <span class="signUpText">Sign Up</span>
    </button>

    
    

  </mat-toolbar>
  