*{
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.mainContainer
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px); 
  width: 100%;
  background: rgb(63,180,251);
  background: linear-gradient(211deg, rgba(63,180,251,1) 38%, rgba(70,252,167,1) 100%);
}
.box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    min-height: 80%;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    border-radius: 0px 50px 0px 50px;
    background-color: #2196f3;
    box-shadow: 0 0 10px #e3e3e3;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}
.box >*
{
    
    width: 70%;
    padding: 7px;
}
.box > h1
{
    text-align: center;
    font-size: 30px;
    color:aqua;
    letter-spacing: 1px;
}
.box > div > h5
{
    margin-left: 20px;
    margin-bottom: 0;
    padding:0;
}

Button{
    margin-top: 10px;
    width: 50%;
    height: 50px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 0 10px #e3e3e3;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}