<div class="mainContainer">
    <form [formGroup]="formGroup" class="container" (ngSubmit)="onSubmit()"  >
        <h1 class="text-xl-center mb-lg-3 log" style="font-size: 30px; color: aqua;">Login</h1>
        <h1></h1>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName = "email">
            <label for="floatingInput" >Email address</label>
        </div>
          <span *ngIf = "email.invalid && email.dirty" class = "errorMessage" >{{getErrorMessage(email)}}</span>
        <div class="form-floating mb-3 passwordField">
            <input [type]="(showPassword ? 'text' : 'password')" class="form-control" id="floatingPassword" placeholder="Password" formControlName = "password" > 
            <label for="floatingPassword " class="" >Password</label>
            <i *ngIf="password.dirty" class="bi  iconEye"   [ngStyle]="showPassword?{'font-size' : '20px' , 'top' : 'calc(15% + 10px)'} :{'font-size' : '15px'} " [ngClass]="{'bi-eye' : showPassword,'bi-eye-slash' : !showPassword  }" for="floatingPassword " (click)="showHidePassword()"></i>
        </div>
          <span *ngIf = "password.invalid && password.dirty"  class = "errorMessage">{{getErrorMessage(password)}}</span>
       <!-- <mat-radio-group class="options justify-content-lg-between mb-1" formControlName="isStudent">
            <mat-radio-button type="radio" value="Student" name="studentOrTeacher" >
                <span class="motext" style="vertical-align: middle;">Student</span>
            </mat-radio-button>
            <mat-radio-button type="radio" value="Teacher" name="studentOrTeacher" formControlName="isStudent">
                <span class="motext" style="vertical-align: middle;">Teacher</span>
            </mat-radio-button>
        </mat-radio-group> -->
        <div>
            <span class="mb-1">Don't have an account? </span>
            <a class="link" (click)="GoToRegister()">Register</a>
        </div>
        <button [disabled]="(formGroup.invalid)"  class="btn btn-primary submit">Login</button>
    </form>
</div>

