.container
{
    margin: 150px auto;
    justify-self: center;
    align-self: center;
    width: 50%;
    height: 50%;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    background-color: #2196f3;
    box-shadow: 0 0 10px #e3e3e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.options
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.motext
{
    font-size: 18px;
    color: white;
}

.labels, .inputs
{
    display: flex;
    flex-direction: column;
}

.box
{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.labelElement, .inputElement
{
    height: 50px;
    font-size: 18px;
    color: white;
}

input
{
    width: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px #e3e3e3;
    padding: 5px;
    font-size: 18px;
}