<form [formGroup]="options" class="container"  >


    <div class="box">


        <div class="labels" >
            <div class="labelElement"><label for="">Email: </label></div>
            <div class="labelElement"><label for="">Password: </label></div>
            <div class="labelElement"><label for="">I am a </label></div>
        </div>
    
        <div class="inputs" >
            <div class="inputElement"><input type="text" name="" id="" placeholder="Enter Your Email.." required ></div>
            <div class="inputElement"><input type="password" name="" id="" placeholder="Enter Your Password.."  ></div>
            <mat-radio-group class="options">
                <mat-radio-button value="Student"><span class="motext">Student</span></mat-radio-button>
                <span class="takingSpace"></span>
                <mat-radio-button value="Teacher"><span class ="motext">Teacher</span></mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
   
</form>


