<div class="mainContainer row justify-content-evenly">
    <div class="course col-5" *ngFor="let course of courses">
        <div class =" col-12 row">
            <div class="courseCode col-5">
                <h3>Course Code: </h3>
                <h3>Course Subject: </h3>
                <h3>Course Grade: </h3>
            </div>
            <div class="courseInfo col-7">
                <h3>{{course.code}}</h3>
                <h3>{{course.subject}}</h3>
                <h3>{{course.grade}}</h3>
            </div>
        </div>
        <Button type="button" class="btn btn-primary" style="width: 100%; margin-bottom: 10px;" (click)="viewExams(course.code)" >View Exams</Button>
        <Button type="button" class="btn btn-danger" style="width: 100%;" (click)="deleteCourse(course.code)" >Delete</Button>
    </div>

    <div class="course col-lg-5" *ngIf="(isStudent)">
        <div class =" col-12 row">
            <div class="courseCode col-md-12 text-center">
                <h1>Add New Course</h1>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Course's Code</span>
                    <input type="text" class="form-control" placeholder="Code" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" (change)="courseCodeChange($event)">
                </div>
            </div>
            
        </div>
        <button class="btn btn-outline-primary" style="width: 100%;" (click) = "AddCourseStudent()"> Add Course</button>
    </div>

    <div class="course col-lg-5" *ngIf="(!isStudent)">
        <div class =" col-12 row">
            <div class="courseCode col-md-12 text-center">
                <h1>Add New Course</h1>
            </div>
        </div>
        <button class="btn btn-outline-primary" style="width: 100%;" (click) = "AddCourseTeacher()">Add Course</button>
    </div>
    
</div>
