<div class="mainContainer" >
    <table class="row  m-4"  >

        <tr class="col-12 row justify-content-center align-items-center">
                <th style="font-size: 30px;" class="col-12">Exams</th>
        </tr>

        <tr class="firstRow col-12 row justify-content-center align-items-center" >
            <th class="examId col text-center" style="font-size: 18px;">
                Exam ID
            </th>
            <th class="examName col text-center" style="font-size: 18px;">
                Exam Name
            </th>
            <th class="examName col text-center" style="font-size: 18px;">
                Attempts Number
            </th>
            <th class="CreatedOn col text-center" style="font-size: 18px;">
                Created On
            </th>
            <th class="CreatedBy col text-center" style="font-size: 18px;">
                Created By
            </th>  
            <th class="startDate col text-center" style="font-size: 18px;">
                Start Date
            </th>
            <th class="endDate col text-center" style="font-size: 18px;">
                End Date
            </th>
            <th class="duration col text-center" style="font-size: 18px;">
                Duration
            </th>
            <th class="totalMarks col text-center" style="font-size: 18px;">
                Total Marks
            </th>
            <th class="col" style="font-size: 18px;" style="margin-right: 3px;" *ngIf="isStudent">Start</th>
            <th class="col" style="font-size: 18px;" style="margin-right: 3px;" *ngIf="isStudent">Show</th>
            <th class="col" style="font-size: 18px;" style="margin-right: 3px;" *ngIf="!isStudent">Update</th>
            <th class=" col" style="font-size: 18px;" *ngIf="!isStudent">Delete</th>
        </tr>

        <tr class="secondRow col-12 row justify-content-center align-items-center" *ngFor="let ea of examAndAttempts">
            <td class="examId col text-center ">
                {{ea.exam.id}}
            </td>
            <td class="examName col text-center">
                {{ea.exam.name}}
            </td>
            <td class="examName col text-center">
                {{ea.exam.attemptsNumber}}
            </td>
            <td class="CreatedOn col text-center">
                {{ea.exam.createdOn | date:'dd-MM-yyyy hh:mm:ss a'}}
            </td>
            <td class="CreatedBy col text-center">
                {{ea.teacherName}}
            </td>  
            <td class="startDate col text-center">
                {{ea.exam.startTime | date:'dd-MM-yyyy hh:mm:ss a'}}
            </td>
            <td class="endDate col text-center">
                {{ea.exam.endTime | date:'dd-MM-yyyy hh:mm:ss a'}}
            </td>
            <td class="duration col text-center">
                {{ea.exam.duration}} minutes
            </td>
            <td class="totalMarks col text-center">
                {{ea.totalMarks}}
            </td>
            <button class="btn btn-primary col p-1" style="margin-right: 3px; " (click) = "openExam(ea.exam.id)" *ngIf="(isStudent)" [disabled] = "(ea.exam.attemptsNumber <= ea.attempts.length)">New Attempt</button>
            <div class="col p-1" *ngIf="isStudent">
                <div ngbDropdown class="d-inline-block">
                   <button class="btn btn-primary p-1" id="dropdownBasic1" ngbDropdownToggle>Show</button>
                   <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="bg-body-secondary mt-1 p-1" >
                    <div *ngFor="let attempt of ea.attempts">
                        <button ngbDropdownItem (click)="showAttempt(attempt)">Attempt {{attempt}}</button>
                    </div>
                   </div>
                </div>
             </div>
           <!-- <button class="btn btn-primary col p-1" style="margin-right: 3px; " (click) = "openExam(exam.id)" *ngIf="isStudent">Show</button> -->
            <button class="btn btn-primary col p-1" style="margin-right: 3px; " (click) = "updateExam(ea.exam.id)" *ngIf="!isStudent">Update</button>
            <button class="btn btn-danger col p-1" (click) = "deleteExam(ea.exam.id)" *ngIf="!isStudent">Delete</button>
        </tr>
    </table>
    <button class="btn btn-primary  newExam" (click) = "addExam()">Add New Exam</button>
    
</div>


